/TeX/privres_notes.aux
/TeX/privres_notes.aux
/TeX/privres_notes.fdb_latexmk
/TeX/privres_notes.fls
/TeX/privres_notes.log
/TeX/privres_notes.out
/TeX/privres_notes.pdf
/TeX/privres_notes.synctex.gz
/TeX/privres_notes.xdv
